html {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 400px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #222
    padding: 0;
    background: #fff;
}

.navbar-main {
    display: flex;
    align-items:center;
    padding: 5px;
    height: 45px;
    flex-shrink: 0;
    box-sizing:border-box;
}

    .about {
        display: inline-block;
        padding: 5px;
        margin: 0;
        margin-right: 5px;
        margin-left: 8px;
    }

    .store {
        display: inline-block;
        padding: 5px;
        margin: 0 5px;
    }

    .navbar-center {
        display: inline-block;
        flex-grow: 1;
    }

        .gmail {
            display: inline-block;
            padding: 5px;
            margin: 0 5px;
    }

        .images {
            display: inline-block;
            padding: 5px;
            margin: 0 5px;
    }

        .apps {
            display: inline-block;
            padding: 5px;
            margin: 0 8px;
    }

        #sign-in-button {
            color: #fff;
            background: #1a73e8;
            border: 1px solid transparent;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: .25px;
            line-height: 16px;
            min-width: 96px;
            padding: 9px 23px;
            text-align: center;
            vertical-align: middle;
            border-radius: 4px;
            box-sizing: border-box;
            outline: none;
            margin: 0 8px;
        }

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 100%;
    margin-top: auto;
}

.h1 {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    max-height: 100%;
    max-width: 100%;
}

.logo {
    box-sizing: border-box;
    height: 55%;
    display: block;
    margin: 20% 0 0 0;
    flex-direction: column;
    align-items: center;
    height: 100px;
    flex-shrink: 0;
    width: 275px;
}

    .search-form {
     display: grid;
     grid-template-columns: 3;
     grid-template-rows: 5;
    }

    .icon {
        position: relative;
        top: 37px;
        left: 10px;
    }

    #search-input {
        text-align: center;
        display: inline-block;
        flex-grow: 1;
        flex-basis: auto;
        flex-direction: row;
        align-self: center;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: stretch;
        width: 575px;
        background: #fff;
        border: 1px solid #dfe1e5;
        box-shadow: none;
        border-radius: 24px;
        height: 40px;
        margin: 0 auto;
    }

.buttons {
    text-align: center;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    flex-grow: 1;
    flex-basis: auto;
    height: 25px;
    padding: 10px;
}
    #google-search-button {
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial,sans-serif;
        font-size: 14px;
        margin: 11px 4px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;

    }

    #lucky-search-button {
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 4px;
        color: #3c4043;
        font-family: arial,sans-serif;
        font-size: 14px;
        margin: 11px 4px;
        padding: 0 16px;
        line-height: 27px;
        height: 36px;
        min-width: 54px;
        text-align: center;
    }

footer {
    background: #f2f2f2;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3 1fr) repeat(22 1fr) 1fr repeat(25 1fr) repeat(3 1fr);
    grid-template-areas: "advertising business how-search-works . . . . . . . . . . . . . . . . . . . . . . carbon-neutral . . . . . . . . . . . . . . . . . . . . . . . . . privacy terms settings";
    max-width: 100%;
    max-height: fit-content;
}

    .advertising {
        grid-area: advertising;
        display: block;
        color: #70757a
        padding-top: 10px;
        padding-left: 15px;
        padding-right; 5px;
        padding-bottom: 5px;
        margin: 15px 0 15px 25px;
        text-align: left;
        white-space: nowrap;
    }

    .business {
        grid-area: business;
        display: block;
        color: #70757a
        padding-top: 10px;
        padding-left: 5px;
        padding-right; 5px;
        padding-bottom: 5px;
        margin: 15px 0;
        text-align: left;
        white-space: nowrap;
    }

    .how-search-works {
        grid-area: how-search-works;
        display: block;
        color: #70757a
        padding-top: 10px;
        padding-left: 5px;
        padding-right; 5px;
        padding-bottom: 5px;
        margin: 15px 0;
        text-align: left;
        white-space: nowrap;
    }

    .carbon-neutral {
        grid-area: carbon-neutral;
        display: block;
        color: #70757a
        padding-top: 10px;
        padding-left: 5px;
        padding-right; 5px;
        padding-bottom: 5px;
        margin: 15px 0;
        text-align: left;
        white-space: nowrap;
    }

    #leaf {
        padding-right: 10px;
    }

    .privacy {
        grid-area: privacy;
        display: block;
        color: #70757a
        padding-top: 10px;
        padding-left: 5px;
        padding-right; 5px;
        padding-bottom: 5px;
        margin: 15px 0;
        text-align: right;
        white-space: nowrap;
    }

    .terms {
        grid-area: terms;
        display: block;
        color: #70757a
        padding-top: 10px;
        padding-left: 5px;
        padding-right; 5px;
        padding-bottom: 5px;
        margin: 15px 0;
        text-align: right;
        white-space: nowrap;
    }

    .settings {
        grid-area: settings;
        display: block;
        color: #70757a
        padding-top: 10px;
        padding-left: 5px;
        padding-right; 15px;
        padding-bottom: 5px;
        margin: 15px 25px 15px 0;
        text-align: right;
        white-space: nowrap;
    }
